body {
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
}
body {
  font-family: "Kanit" !important;
  background-color: #e5e5e5;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.box {
  width: 30rem;
  height: 30rem;
  background-color: rgb(202, 173, 173);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1;
  border-radius: 20px;

  margin: auto;
}
